@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(4, 42, 43)
    
}
:root{
    --primary-color-darker: rgb(94, 177, 191)
}
* {
    box-sizing: border-box;
    outline: none;
   
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: 1000px;
    

}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}
form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: #5eb1bf;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
    margin-top: 30px;
    

}
form button :hover{
    background: black; 
}


pre{
    
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.paragrafo-resultado{
    background:#54f2f2 ;
}

.relogio{
    font-size: 3em;
}
.calculadora{
    width: 400px;
}

.display{
    font-size: 2em;
    width: 100%;
    text-align: right;

}
.btn{
    width: 100%;
    height: 50px;
    font-size: 1em;
    border-radius: 2%;
    border-color: #bdbdbd;
    background-color: #dfdfdf;
    cursor:pointer;

}
.btn:hover{
    background-color: #7a7878;
}

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}
